<div *ngIf="loading">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="libraryStats.length > 0 && libraryStats[0].totalPlays > 0" class="library-stats">
  <p>Explore More Stats on the Graphing Page <a mat-raised-button color="primary" routerLink="graph" class="text_spacer">Graphs</a> </p>

  <table mat-table [dataSource]="libraryStats" class="mat-elevation-z8">
    <ng-container matColumnDef="Total Plays">
      <th mat-header-cell *matHeaderCellDef> Total Plays </th>
      <td mat-cell *matCellDef="let stat"> {{stat.totalPlays}} </td>
    </ng-container>
    <ng-container matColumnDef="Total Time">
      <th mat-header-cell *matHeaderCellDef> Total Time </th>
      <td mat-cell *matCellDef="let stat"> {{stat.totalTime | milliFormat }}</td>
    </ng-container>
    <ng-container matColumnDef="Total Skips">
      <th mat-header-cell *matHeaderCellDef> Total Skips </th>
      <td mat-cell *matCellDef="let stat"> {{stat.totalSkips}} </td>
    </ng-container>
    <ng-container matColumnDef="Period">
      <th mat-header-cell *matHeaderCellDef> Period </th>
      <td mat-cell *matCellDef="let stat"> {{stat.firstDate | date:'mediumDate'}} --- {{stat.lastDate | date:'mediumDate'}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumnsLS"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsLS;"></tr>
  </table>
</div>
<!--
<div *ngIf="library.length > 0" class="song-list">
  <table mat-table [dataSource]="library" class="mat-elevation-z8">
    <ng-container matColumnDef="Artist Name">
      <th mat-header-cell *matHeaderCellDef> Artist Name </th>
      <td mat-cell *matCellDef="let track"> {{track.artistName}} </td>
    </ng-container>
    <ng-container matColumnDef="Track Name">
      <th mat-header-cell *matHeaderCellDef> Track Name </th>
      <td mat-cell *matCellDef="let track"> {{track.trackName}} </td>
    </ng-container>
    <ng-container matColumnDef="Play Date">
      <th mat-header-cell *matHeaderCellDef> Play Date </th>
      <td mat-cell *matCellDef="let track"> {{track.endTime | date:'mediumDate'}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div> -->


